[submodule "output"]
	path = output
	url = https://github.com/colbrydi/colbrydi.github.io.git
[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "theme"]
	path = theme
	url = https://github.com/pavelchristof/blue-penguin.git
